<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification | MakanMatch</title>
</head>
<body>
    <img src="https://avatars.githubusercontent.com/u/171593551?s=400&u=b8bf5300282f0aab4e16996d6ff056a4498e6cbd&v=4" height="150px">
    <h2>Email Verification</h2>
    <p>Please verify your email <a href="{{ verificationLink }}">here</a></p>
    <p>If you did not request this, please ignore this email.</p>
    <br>
    <p>Best regards,<br>
        MakanMatch Team
    </p>
    <br>
    <br>
    <p>© 2024 The MakanMatch Team. All rights reserved.</p>
</body>
</html>