<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmed | MakanMatch</title>
</head>
<body>
    <img src="https://avatars.githubusercontent.com/u/171593551?s=400&u=b8bf5300282f0aab4e16996d6ff056a4498e6cbd&v=4" height="150px">
    <h2>Reservation Confirmed</h2>
    <p>Thank you for reserving with {{ hostName }}! Here are your upcoming reservation's details:</p>
    <ul>
        <li>Food Listing: {{ title }}</li>
        <li>Host: {{ hostName }}</li>
        <li>Address: {{ address }}</li>
        <li>Date and Time: {{ datetime }}</li>
        <br>
        <li>Reserved portions: {{ portions }}</li>
        <li>Total Price: {{ totalPrice }}</li>
    </ul>
    <p>In the six hour window prior to the meal, the host's PayNow QR code will be shown. Please pay promptly within this window for your meal.</p>
    <p>Cancellations are free until the six hour window prior to the meal. Cancellations thereafter are chargeable.</p>
    <br>
    <p>We hope you have a pleasant experience! Thank you for being a valued guest on MakanMatch!</p>
    <p>Best regards,<br>
        MakanMatch Team
    </p>
    <br>
    <br>
    <p>© 2024 The MakanMatch Team. All rights reserved.</p>
</body>
</html>