<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Cancellation Confirmed | MakanMatch</title>
    <style>
        body {
            font-size: larger;
        }
    </style>
</head>
<body>
    <img src="https://avatars.githubusercontent.com/u/171593551?s=400&u=b8bf5300282f0aab4e16996d6ff056a4498e6cbd&v=4" height="150px">
    <h2>Reservation Cancellation Successful</h2>
    <p>Dear {{ guestName }},</p>
    <p>We are pleased to inform you that your cancellation for the reservation with {{ hostName }} (Ref: {{ referenceNum }}) is successful.</p>
    <p>We're sorry to see you go! Cancellations are sometimes necessary, but we continue to urge you to cancel prior to the six hour window to avoid fees and inconveniences.</p>
    <p>We look forward to more reservations! Thank you for being a valued guest on the platform.</p>
    <br>
    <p>Best regards,<br>
        MakanMatch Team
    </p>
    <br>
    <br>
    <p>© 2024 The MakanMatch Team. All rights reserved.</p>
</body>
</html>