<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Received | MakanMatch</title>
</head>
<body>
    <img src="https://avatars.githubusercontent.com/u/171593551?s=400&u=b8bf5300282f0aab4e16996d6ff056a4498e6cbd&v=4" height="150px">
    <h2>Review Received</h2>
    <p>Hooray! You've received a review from <strong>{{ username }}</strong>!</p>
    <p>Please feel free to checkout what words they've sent to you on Makan Reviews page</p>
    <p>Don't know where's Makan Review page?</p>
    <br>
    <p>Simply click on your profile picture on the top right corner to go to your account page, then click on the "Makan Reviews" tab
         on the sidebar and you'll be able to see all the reviews you've received!</p>
    <br>
    <p>Or just click <a href="http://localhost:8500/reviews?hostID={{ hostID }}"></a> to view your reviews!</p>
    <br>
    <p>Thank you for using MakanMatch!</p>
    <br>
    <p>Best regards,<br>
        MakanMatch Team
    </p>
    <br>
    <br>
    <p>© 2024 The MakanMatch Team. All rights reserved.</p>
</body>
</html>