<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MakanMatch!</title>
</head>
<body>
    <img src="https://avatars.githubusercontent.com/u/171593551?s=400&u=b8bf5300282f0aab4e16996d6ff056a4498e6cbd&v=4" height="150px">
    <h2>Welcome to MakanMatch!</h2>
    <p>Hello {{ userName }},</p>
    <p>Thank you for joining MakanMatch! We are thrilled to have you on board. Your account has been successfully created, and you can now start exploring food listings, making reservations, and more!</p>
    <p>To complete your registraiton process, please verify your email <a href="{{ emailVerificationLink }}">here</a></p>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with MakanMatch!</p>
    <br>
    <p>Best regards,<br>
        MakanMatch Team
    </p>
    <br>
    <br>
    <p>© 2024 The MakanMatch Team. All rights reserved.</p>
</body>
</html>
